{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <center> <link rel="stylesheet" href="../static/css/a.css"></center>
</head>
<body>
    <center>
        <h1><marquee behavior="" direction="">hii i am panther</marquee></h1>
        <img src="{% static 'images/kushal.jpg'%}" alt="hii" width="500" height="500">




    </center>
    
</body>
</html>